/* font-family: 'Raleway', sans-serif;

font-family: 'Roboto', sans-serif; */
/* index */
:root{
    --hover-color: #2196F3;
    --fon-word-color:  #FFFFFF;
    --most-word-color: #212121;
    --text-description-color: #757575;

}
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--most-word-color);
    text-decoration: none;
}
.web{
    color: var(--hover-color);
}
.studio{
    color: var(--fon-word-color);
}
.list{
    list-style: none;
}
.nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--most-word-color);
    text-decoration: none;
}

.nav-address,
.header-nav-icons{
    color: var(--text-description-color);
}
.nav-link:hover,
.nav-link:focus,
.nav-address:hover,
.nav-address:focus{
    color: var(--hover-color);
}
.baner{
    background: #E5E5E5;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--fon-word-color);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.baner-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--fon-word-color);
    text-decoration: none;
}
.baner-btn{
    background: var(--hover-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.baner-menu,
.whatwedo-menu,
.footer-nav{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--most-word-color);
    text-transform: uppercase;
}
.baner-menu-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-description-color);
}
.whatwedo,
.comrade,
.ourclients{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--most-word-color);
}
.whatwedo-menu{
    color: var(--fon-word-color);
    
    background: var(--text-description-color);
}
.comrade-menu,
.comrade-menu-list{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--most-word-color);
}
.comrade-menu-list{
    color: var(--text-description-color);
}
.ourclients-list{
    text-decoration: none;
}

.footer{
    background: #2F303A;
}
.footer-contacts,
.footer-address{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--fon-word-color);
    text-decoration: none;
}
.footer-address{
    color: rgba(255, 255, 255, 0.6);
}
.footer-nav{
    color: var(--fon-word-color);
}
/* portfolio */
.portfolio-btn{
    background: var(--fon-word-color);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--most-word-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus{
    background: var(--hover-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: var(--fon-word-color);
}
.portfolio-text{
    font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--most-word-color);
}
.portfolio-text-small{
    font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--text-description-color);
}
.portfolio-notebook:hover::after{
    content: attr(data-title);
}
